$color-text: #262626;
$color-grey: #f4f5f7;
$color-black: #000;
$color-darkGrey: #dfe1e6;
$color-border: #434343;
$color-blue: #0052cc;
$color-white: #fff;

$bsh: 0 .5rem .5rem -.3rem rgba(0, 0, 0, 0.2), 0 .8rem 1rem .1rem rgba(0, 0, 0, 0.14), 0 .3rem 1.4rem .2rem rgba(0, 0, 0, 0.12);

$font-path: '../fonts'



